@using neoDesk.Server.Emails.Models
@model TicketEmailModel
@{
    Layout = "_Layout.cshtml";

}

<p>Zgłoszenie <strong>#@Model.Ticket.Id</strong>: @Model.Ticket.Title. zostało zmodyfikowane:</p>
<p><strong>Data utworzenia:</strong> @Model.Ticket.CreatedAt</p>
<p><strong>Kategoria:</strong> @Model.Ticket.Category</p>

@if(Model.Ticket.AssignedToUserId is not null){
    <p><strong>Przypisane do:</strong> @Model.Ticket.AssignedToUser.Name</p>
}

<p><strong>Treść:</strong> @Model.Ticket.Description</p>


<br />
<a href="@Model.TicketUrl" class="btn">Wyświetl zgłoszenie</a>
